[submodule "TwUITests/expecta"]
	path = TwUITests/expecta
	url = git://github.com/github/expecta.git
[submodule "TwUITests/specta"]
	path = TwUITests/specta
	url = git://github.com/petejkim/specta.git
[submodule "MTAnimation"]
	path = MTAnimation
	url = https://github.com/mysterioustrousers/MTAnimation.git
