*.DS_Store
xcuserdata
*.mode1v3
*.pbxuser
build
*.perspectivev3

ExampleProject/Example.xcodeproj/project.pbxproj

ExampleProject/Example.xcodeproj/project.pbxproj

ExampleProject/Example/ExampleAppDelegate.h

ExampleProject/Example/ExampleAppDelegate.h

ExampleProject/Example/ExampleTableViewCell.h

ExampleProject/Example/ExampleView.m

ExampleProject/Example/ExampleView.m
